/* App.css 或 index.css */
.App {
  text-align: center;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

/* 黑色線條 */
.line-grow {
  width: 100%;  /* 確保黑線寬度能根據螢幕大小調整 */
  max-width: 1280px;  /* 設定最大寬度，避免過長 */
  height: 3px;
  background-color: black;
  margin-top: 30px;
  margin-left: auto; /* 讓線條居中 */
  margin-right: auto; /* 讓線條居中 */
}

.fade-up {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeUp 0.6s ease-out forwards;
}

@keyframes fadeUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* 響應式設置 */
@media (max-width: 768px) {
  .App {
    padding: 0 10px;
  }

  .line-grow {
    width: 100%;  /* 保證線條在小螢幕上會縮短 */
  }

  .fade-up {
    animation-delay: 0.2s;
  }

  /* 手機版的圖片處理 */
  img {
    max-width: 100%;  /* 確保圖片不會超過容器寬度 */
    width: auto;      /* 寬度自動調整 */
    height: auto;     /* 高度自動調整 */
  }
}

@media (max-width: 480px) {
  .fade-up {
    animation-delay: 0.4s;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 8vw;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 10vw;
  }
}
